networks:
  inception_network:
    driver: bridge

volumes:
  wordpress_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/${USER}/data/web
  mariadb_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/${USER}/data/database

services:
  nginx:
    container_name: nginx
    build: requirements/nginx/.
    ports:
      - "8443:443"
    volumes:
      - wordpress_data:/var/www/html
    env_file:
      - .env
    networks:
      - inception_network
    depends_on:
      - wordpress

  wordpress:
    container_name: wp-php
    build: requirements/wordpress/.
    volumes:
      - wordpress_data:/var/www/html
    env_file:
      - .env
      - ../secrets/credentials.txt
    secrets:
      - db_password
    expose:
      - 9000
    networks:
      - inception_network
    depends_on:
      - mariadb

  mariadb:
    container_name: mariadb
    build: requirements/mariadb/.
    env_file:
      - .env
      - ../secrets/credentials.txt
    secrets:
      - db_password
      - db_root_password
    volumes:
      - mariadb_data:/var/lib/mysql
    expose:
      - 3306
    networks:
      - inception_network

secrets:
  db_password:
    file: ../secrets/db_password.txt
  db_root_password:
    file: ../secrets/db_root_password.txt
